<%= form_for @service, :html => { :class => "form-horizontal service" } do |f| %>

<% if @service.errors.any? %>
<div id="error_expl" class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title"><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h3>
  </div>
  <div class="panel-body">
    <ul>
      <% @service.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <%= f.label :title, :class => 'control-label' %>
          <%= f.text_field :title, :class => 'form-control' %>
          <%=f.error_span(:title) %>
        </div>

        <div class="form-group">
          <%= f.label :meta_description, :class => 'control-label' %>
          <%= f.text_area :meta_description, :class => 'form-control', rows: 4 %>
          <%=f.error_span(:meta_description) %>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :image, :class => 'control-label' %>
            <% if @service.image.nil? || @service.image.blank? %>
              <%= f.file_field :image, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250' %>
            <% else %>
              <%= f.file_field :image, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250', 'data-default-file' => @service.image.url %>
            <% end %>
            <%=f.error_span(:image) %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :image_cover, :class => 'control-label' %>
            <% if @service.image_cover.nil? || @service.image_cover.blank? %>
              <%= f.file_field :image_cover, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250' %>
            <% else %>
              <%= f.file_field :image_cover, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250', 'data-default-file' => @service.image_cover.url %>
            <% end %>
            <%=f.error_span(:image_cover) %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="form-group">
      <%= f.label :content, :class => 'control-label' %>
      <%= f.cktext_area :content, :class => 'form-control',:ckeditor => {:removePlugins => 'forms'} %>
      <%=f.error_span(:content) %>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="form-group">
      <%= f.label :main_content, :class => 'control-label' %>
      <%= f.cktext_area :main_content, :class => 'form-control',:ckeditor => {:removePlugins => 'forms'} %>
      <%=f.error_span(:main_content) %>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-body">
    <div class="form-group">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      services_path, :class => 'btn btn-default' %>
    </div>

  </div>
</div>

<% end %>
