<section id="intro" class="p-0">
  <div class="position-relative bg-intro" style="background:rgba(0, 0, 0, 0) url('<%= @service.image_cover %>') no-repeat fixed center center / cover;">
    <div class="d-absoulte h-100 w-100  d-flex align-items-end" style="background-color:rgba(6, 7, 8, 0.6)!important" >
      <div class="container mb-5">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white"><%= @service.title %></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-0">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-7">
        <%= @service.content.html_safe %>
      </div>
      <div class="col-md-4">
        <div class="sticky-top" style="top: 100px;z-index:0;">
          <h3>Others Services</h3>
          <hr>
          <ul style="list-style: decimal-leading-zero;">
            <% Service.where.not(id: @service.id).each do |x| %>
            <li><a href="<%= service_path(x.slug) %>"><%= x.title %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="main-content">
  <div class="container">
    <%= @service.main_content.html_safe %>
    <div class="text-center">
      <hr>
      <p>
        <strong class="text-classic" style="font-size: 25px">Contact us for more information</strong>   <br>
        E: <a href="mailto:creativeservices@phoenix.co.id"> <strong>creativeservices@phoenix.co.id</strong></a><br>
        T: +62 781 3212
      </p>
    </div>
  </div>
</section>
