body{
  font-family: 'heebo', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.7;
  word-spacing: 2px;
}
.normal{
    font-family: 'heebo', sans-serif !important;
}
b, strong {
    font-weight: 900;
}

section{
  padding: 30px 0;
}
h2{
  font-size: 2.5rem;
}
h3{
  font-size: 1.75rem;
}
h4{
  font-size: 1.5rem;
}
a{
  color: #d8211b;
}

h1, h2,h3,h4,h5{
  font-family: 'Cormorant', serif;
}

.text-classic{
  font-family: 'Cormorant', serif;
}

a:hover{
  color: #3e3e3e;
  text-decoration: none;
}

.top-50{
  top:50%;
}
.row-custom{
  margin: 0 -10px
}
.p-10{
  padding: 10px;
}
.mb-5{
  margin-bottom: 5px;
}
.mb-10{
  margin-bottom: 10px !important;
}

.mb-30{
  margin-bottom: 30px !important;
}

.mt-40{
  margin-top: 40px;
}

.category-title h1,.category-title h3{
  color: #d8211b;
  font-weight: 700 !important;
}

.top-bar{
  background-color: #333;
}
.top-bar .nav-item a{
  color: #d8211b;
  font-weight: 300;
  font-size: 14px;
}

.navbar .nav-item a{
  color: #333;
  font-weight: 400;
}

.navbar-brand img{
  max-height: 50px;
  padding: 3px 0;
}

.bg-light {
  background-color: white !important;
}

h1, h2, h3 {
  font-weight: bold;
}


section{
  padding: 30px 0;
}

.section-title{
  margin-bottom: 30px;
  position: relative;
}
.section-title > h2:before{
  content: "";
  position: absolute;
  width: 7%;
  height: 1px;
  top: 100%;
  left: 0;
  border-bottom: 3px solid #ec2a24;
}
#wwd{
  background:#f0f3fa;
}
#wwd ul{
  padding: 0;
  list-style: none;
}

#wwd li{
  margin-bottom: 25px;
}
.wwd-desc h3{
  /* color: #d8211b; */
}
.wwd-desc h4{
  font-family: 'Merriweather', serif;
}

.service-box{
  padding: 15px;
  border: 1px solid #d8211b;
}
#news{
  background:#f0f3fa;
}

#footer{
  border-top: 3px solid #d8211b;
  background: #232020;
}
#footer ul li a{
  color: white;
}
#footer h5{
  color: #d8211b;
}
#footer p{
  color: white;
}
#footer ul li a:hover{
  color: #d8211b;
}
.copyright{
  padding: 10px 0;
  text-align:center;
  border-top: 1px solid #d8211b;
}
#footer .copyright p{
  color:  white;
}

.item-desc{
  min-height: 168px;
}

.frame{
  padding: 10px;
  border: 1px solid #eee;
  background-color: white;
}
.cover {
  position:relative;
  display:inline-block;
  vertical-align:bottom;
  width:90%;
}

.cover:after {
  content:"";
  display:block;
  width:4px;
  height:97.9%;
  background:rgba(0,0,0,0.2);
  box-shadow: 1px 0 3px rgba(0,0,0,1) inset, 1px 0 0
  rgba(0,0,0,0.3), 2px 0 0  rgba(255,255,255,.3);
  border-left:1px solid rgba(0,0,0,0.3);
  position:absolute;
  top:0;
  left:0;
  border-top-left-radius: 4px 5px;
  border-bottom-left-radius: 4px 5px;
  //transform: rotateY(-60deg);
}

.cover:before {
  width:100%;
  content: "";
  display:block;
  height:97.9%;
  position:absolute;
  top:0;
  left:0;
  z-index:1;
  border: 1px solid rgba(0,0,0,0.2);
  border-left-color: rgba(0,0,0,0);
  border-top-left-radius: 4px 5px;
  border-bottom-left-radius: 4px 5px;

}

.cover img {
  opacity:1;
  position:relative;
  z-index:1;
  display:block;
  max-width:100%;
  z-index:9999;
  border-top-left-radius: 4px 5px;
  border-bottom-left-radius: 4px 5px;
  margin:0;
}

.cover span {
  display:inline-block;
  position:relative;
  perspective: 500px;
  border-top-left-radius: 4px 5px;
  border-bottom-left-radius: 4px 5px;
}

.cover span:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 1%;
  background: rgba(0,0,0,0.5);
  left: -4px;
  -webkit-filter: blur(7px);
  filter: blur(7);
}


.cover2 {
  position:relative;
  display:inline-block;
  vertical-align:bottom;
  width:90%;
}

.cover2:after {
  content:"";
  display:block;
  width:4px;
  height:98.9%;
  background:rgba(0,0,0,0.2);
  box-shadow: 1px 0 3px rgba(0,0,0,1) inset, 1px 0 0
  rgba(0,0,0,0.3), 2px 0 0  rgba(255,255,255,.3);
  border-left:1px solid rgba(0,0,0,0.3);
  position:absolute;
  top:0;
  left:0;
  border-top-left-radius: 4px 5px;
  border-bottom-left-radius: 4px 5px;
  //transform: rotateY(-60deg);
}

.cover2:before {
  width:100%;
  content: "";
  display:block;
  height:98.9%;
  position:absolute;
  top:0;
  left:0;
  z-index:1;
  border: 1px solid rgba(0,0,0,0.2);
  border-left-color: rgba(0,0,0,0);
  border-top-left-radius: 4px 5px;
  border-bottom-left-radius: 4px 5px;
}

.cover2 img {
  opacity:1;
  position:relative;
  z-index:1;
  display:block;
  max-width:100%;
  z-index:9999;
  border-top-left-radius: 4px 5px;
  border-bottom-left-radius: 4px 5px;
  margin:0;
}

.cover2 span {
  display:inline-block;
  position:relative;
  perspective: 500px;
  border-top-left-radius: 4px 5px;
  border-bottom-left-radius: 4px 5px;
}

.cover2 span:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 1%;
  background: rgba(0,0,0,0.5);
  left: -4px;
  -webkit-filter: blur(7px);
  filter: blur(7);
}

.cover2 span:before {
  content: "";
  display: inline-block;
  position: absolute;
  width:120px;
  height:100%;
  top:0;
  left:-120px;
  z-index:-1;
  opacity:.5;
}
.bg-gray{
  background-color: #ececec;
}

.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}
.caption h3{
  font-size: 30px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
  font-family: 'heebo', sans-serif;
  font-weight: 300;
}
.caption h2, #intro h1 {
  font-size: 50px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
}
.dark-transparent{
  font-size: 20px;
  background-color: rgba(52, 58, 64, 0.7) !important;
  border-color: rgba(52, 58, 64, 0.7) !important;
}

.dark-transparent:hover{
  background-color: rgba(52, 58, 64, 1) !important;
  border-color: rgba(52, 58, 64, 1) !important;
}

h4{
  font-weight: 900;
}
#intro h1{
  text-shadow: 2px 2px 8px #000;
}

.card-img-overlay{
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
    height: 100%;
    background: #a931318c;
    align-items: center;
    display: flex;
    justify-content: center;
      border-radius: 1rem!important;
}
.card-img-overlay h5{
    font-size: 30px;

}

.card-icon-heading{
  font-size: 20px;
}

.icon-card{
  width: 50px;
  margin-right: 10px;
  height: auto;
}

.border-rds-10{
  border-radius: 10px;
}

.overlay-icon img{
  background: white;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid  #dc3545!important;

}

.rounded{
  border-radius: 1rem!important;
}

.rounded-top{
  border-top-left-radius: 1rem!important;
  border-top-right-radius: 1rem!important;
}

.rounded-bottom{
  border-bottom-left-radius: 1rem!important;
  border-bottom-right-radius: 1rem!important;
}

.bg-gradient-red{
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(36, 11, 54, 0.5),rgba(195, 20, 50, 0.5));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(36, 11, 54, 0.5), rgba(195, 20, 50, 0.5)) /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.shadow-hover{
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  transition: box-shadow 500ms;
    border-radius: 1rem!important;
}

.shadow-hover:hover{
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.4)!important;
    border-radius: 1rem!important;
}
.hvr-grw  h5{
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grw:hover h5,
.hvr-grw:focus h5,
.hvr-grw:active  h5{
    transform: scale(1.1);
}

.article  h2, .article  h2 strong, .article  h2 b {
  font-family: 'Cormorant', serif;
  font-size: 27px;
  font-weight: 900 !important;
}

.article  h3, .article  h3 strong, .article  h3 b {
  font-family: 'Cormorant', serif;
  font-size: 23px;
  font-weight: 900 !important;
}

.article  h4, .article  h4 strong, .article  h4 b {
  font-family: 'Cormorant', serif;
  font-size: 18px;
  font-weight: 900 !important;
}

.article b, .article strong {
  font-weight: 500;
}


.article img{
  width: 100%;
  height: auto !important;
  margin: auto;
  display: block;
}

figcaption {
  text-align: left;
  margin-bottom: 20px;
  font-size: 12px;
  color: #000;
  line-height: 1.5;
  margin-top: 10px;
}
figcaption strong {
  display: block;
  margin-top: 3px;
  font-family: 'Cormorant', serif;
  color: #888 !important;
  font-size: 14px;
}

.bg-intro {
  background-color:rgba(6, 7, 8, 0.4  )!important;
  background-position:bottom;
  background-size:cover;
  height:75vh;
}

.publisher-note img{
  width: 100% !important;
  height: auto !important;
}

.book-description p{
   font-size: 18px;
   margin-bottom: 0;
}
.main-content img{
  width: 100% !important;
  height: auto;
}

.list-image img{
  width:100% !important;
  height: auto !important;
}

.main-content img{
  width: 100%;
  height: auto !important;
}
.bg-intro-big {
  background-color:rgba(6, 7, 8, 0.4  )!important;
  background-position:bottom;
  background-size:cover;
  height:88vh;
}

.bg-intro-small {
  height:45vh;
}
