@media (max-width: 575.98px) {
  h2 {
    font-size: 2rem;
  }

  .w-sm-100{
    width: 100% !important;
    padding: 0 14px;
  }
  .bg-intro {
    background-color:rgba(6, 7, 8, 0.8  )!important;
    background-position:bottom;
    background-size:cover;
    height:45vh;
  }
  .bg-intro h1{
    font-size: 30px !important;
  }
  .bg-intro h3{
    font-size: 14px !important;
  }
  .publisher-note h4{
    margin-top: 15px;
  }
  .publisher-note .mb-5{
    margin-bottom: 10px !important;
  }
  .bg-intro-big {
    background-color:rgba(6, 7, 8, 0.4  )!important;
    background-position:bottom;
    background-size:cover;
    height:45vh;
  }

  .bg-intro-big h2{
    font-size: 30px !important;
  }
  .bg-intro-big h3{
    font-size: 14px !important;
  }

  .bg-intro-big a{
    font-size: 13px;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {



}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {



}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
