<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td>
      <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
        <tr>
          <td align="center" bgcolor="white" style="padding: 20px 0 20px 0;">
            <img src="https://www.halloarif.id/assets/Hallo-Arif-Gemilang.png"  width="300" alt="Logo NOW GUIDE" style="display: block;">
          </td>
        </tr>
        <tr>
          <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;font-family: Arial, sans-serif;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td style="padding: 20px 0 20px 0;">
                <b>Hallo,</b>
                <p>ada Email baru</p>
                <p style="text-align:center">
                    Name: <%= @contact.fullname %> <br>
                    Email: <%= @contact.email %> <br>
                    Subject: <%= @contact.subject %> <br>
                    Bessage: <br>
                    <%= @contact.message %>
                </p>

                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td bgcolor="#42c7f1" style="padding: 30px 30px 30px 30px;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;">
                  &reg; Phoenix Communications<br/>

                </td>
                <td align="right">
                  
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
