<section id="intro" class="p-0">
  <div class="position-relative" style="background:rgba(0, 0, 0, 0) url('<%= @corporate_detail.image_cover %>') no-repeat fixed top center / cover;height:75vh;">
    <div class="d-absoulte h-100 w-100  d-flex align-items-center" style="background-color:rgba(6, 7, 8, 0.3  )!important" >
      <div class="container ">
        <div class="caption  text-white w-75 ">
          <h1 class="text-white"><%= @corporate_detail.title %></h1>
        </div>
      </div>
    </div>
  </div>
</section>

<%= @corporate_detail.content.html_safe %>

<section>
  <div class="text-center">
    <p>
    <strong class="text-classic" style="font-size: 25px">Contact us for more information</strong>   <br>
      E: <a href="mailto:miranda@phoenix.co.id"> <strong>miranda@phoenix.co.id</strong></a><br>
      T: +62 781 3212 <br>
      <strong><a href="http://www.mostvaluedbusiness.com">www.mostvaluedbusiness.com</a></strong>
    </p>
  </div>
</section>
