<% if @setup.errors.any? %>
  <div id="error_expl" class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%= pluralize(@setup.errors.count, "error") %> prohibited this setup from being saved:</h3>
    </div>
    <div class="panel-body">
      <ul>
        <% @setup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
<%= form_for @setup, :html => { :class => "form-horizontal setup" } do |f| %>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <%= f.label :site_image, :class => 'control-label' %> <small><i>Logo Website</i></small>
            <p>Max File Size 500KB</p>
            <% if @setup.site_image.nil? || @setup.site_image.blank? %>
              <%= f.file_field :site_image, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'500K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
            <% else %>
              <%= f.file_field :site_image, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'500K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => @setup.site_image.url %>
            <% end %>
            <%=f.error_span(:site_image) %>
          </div>
          <div class="col-md-6">
            <%= f.label :site_favicon, :class => 'control-label' %> <small><i>Favicon Website</i></small>
            <p>Max File Size 100KB | Max Width and Height 64px</p>
            <% if @setup.site_favicon.nil? || @setup.site_favicon.blank? %>
              <%= f.file_field :site_favicon, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'100K', 'data-max-width'=>'65', 'data-max-height'=>'65', 'data-allowed-file-extensions'=>'jpg jpeg png svg', 'data-allowed-formats'=>'square' %>
            <% else %>
              <%= f.file_field :site_favicon, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'100K', 'data-max-width'=>'65', 'data-max-height'=>'65', 'data-allowed-file-extensions'=>'jpg jpeg png svg', 'data-allowed-formats'=>'square', 'data-default-file' => @setup.site_favicon.url %>
            <% end %>
            <%=f.error_span(:site_favicon) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <h4>Website Identity and SEO</h4>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :site_name, :class => 'control-label' %> <small><i>required</i></small>
              <%= f.text_field :site_name, :class => 'form-control', required: true %>
              <%=f.error_span(:site_name) %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :site_title, :class => 'control-label' %> <small><i>required</i></small>
              <%= f.text_field :site_title, :class => 'form-control', required: true %>
              <%=f.error_span(:site_title) %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :site_url, :class => 'control-label' %> <small><i>required</i></small>
              <%= f.text_field :site_url, :class => 'form-control', required: true %>
              <%=f.error_span(:site_url) %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :site_keywords, :class => 'control-label' %>
              <%= f.text_field :site_keywords, :class => 'form-control' %>
              <%=f.error_span(:site_keywords) %>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <%= f.label :site_description, :class => 'control-label' %>
              <%= f.text_area :site_description, :class => 'form-control' %>
              <%=f.error_span(:site_description) %>
            </div>
          </div>
          <div class="col-md-12 text-center">
            <div class="form-group">
              <%= f.submit 'Save', :class => 'btn btn-success' %>
              <%= link_to t('.cancel', :default => t("helpers.links.cancel")),setups_path, :class => 'btn btn-light' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
