<%- model_class = Setup -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:site_name) %></th>
      <th><%= model_class.human_attribute_name(:site_title) %></th>
      <th><%= model_class.human_attribute_name(:site_description) %></th>
      <th><%= model_class.human_attribute_name(:site_keywords) %></th>
      <th><%= model_class.human_attribute_name(:site_url) %></th>
      <th><%= model_class.human_attribute_name(:site_image) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @setups.each do |setup| %>
      <tr>
        <td><%= link_to setup.id, setup_path(setup) %></td>
        <td><%= setup.site_name %></td>
        <td><%= setup.site_title %></td>
        <td><%= setup.site_description %></td>
        <td><%= setup.site_keywords %></td>
        <td><%= setup.site_url %></td>
        <td><%= setup.site_image %></td>
        <td><%=l setup.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      setup_path(setup), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_setup_path(setup), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      setup_path(setup),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_setup_path,
            :class => 'btn btn-primary' %>
