<%- model_class = Setup -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:site_name) %>:</strong></dt>
  <dd><%= @setup.site_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:site_title) %>:</strong></dt>
  <dd><%= @setup.site_title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:site_description) %>:</strong></dt>
  <dd><%= @setup.site_description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:site_keywords) %>:</strong></dt>
  <dd><%= @setup.site_keywords %></dd>
  <dt><strong><%= model_class.human_attribute_name(:site_url) %>:</strong></dt>
  <dd><%= @setup.site_url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:site_image) %>:</strong></dt>
  <dd><%= @setup.site_image %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              setups_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_setup_path(@setup), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              setup_path(@setup),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
