<%= form_for @article, :html => { :class => "form-horizontal article" } do |f| %>

<% if @article.errors.any? %>
<div id="error_expl" class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title"><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h3>
  </div>
  <div class="panel-body">
    <ul>
      <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <%= f.label :title, :class => 'control-label' %>
          <%= f.text_field :title, :class => 'form-control' %>
          <%=f.error_span(:title) %>
        </div>
        <div class="form-group">
          <%= f.label :meta_description, :class => 'control-label' %>
          <%= f.text_area :meta_description, :class => 'form-control', rows: 4 %>
          <%=f.error_span(:meta_description) %>
        </div>
        <div class="form-group">
          <%= f.label :author_id, :class => 'control-label' %>
          <%= f.select :author_id, Author.all.map {|s| [s.name, s.id ]},{:include_blank => '-Choose-'},:class=>"form-control w-100 select2"%>
          <%=f.error_span(:author_id) %>
        </div>
        <div class="form-group">
          <%= f.label :publish, :class => 'control-label' %>
          <%= f.date_field :publish, :class => 'form-control' %>
          <%=f.error_span(:publish) %>
        </div>
      </div>
      <div class="col-md-4">
        <%= f.label :image, :class => 'control-label' %>
        <% if @article.image.nil? || @article.image.blank? %>
        <%= f.file_field :image, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250' %>
        <% else %>
        <%= f.file_field :image, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250', 'data-default-file' => @article.image.url %>
        <% end %>
        <%=f.error_span(:image) %>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body" style="padding: 2rem !important;">

      <%= f.cktext_area :content, :class => 'form-control',:ckeditor => {:removePlugins => 'forms'} %>
      <%=f.error_span(:content) %>

  </div>
</div>


<div class="card text-center">
  <div class="card-body">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
    articles_path, :class => 'btn btn-default' %>
  </div>
</div>

<% end %>
