<section id="intro" class="p-0">
  <div class="position-relative bg-intro-small" style="background:url('<%= article_cover_image(@article.author_id) %>') no-repeat fixed top center / cover">
    <div class="d-absoulte h-100 w-100  d-flex align-items-end" style="background-color:rgba(6, 7, 8, 0.6)!important" >
      <div class="container mb-5">
        <div class="row justify-content-center">
          <div class="col-md-12 text-center">
            <h1 class="text-white"><%= @article.title %></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h4>Written by:</h4>
        <p><a href="<%= author_path(@article.author.slug) %>"><%= @article.author.name %></a></p>
        <hr>
        <h4>Posted on:</h4>
        <p><%= @article.publish.strftime("%e %B %Y") rescue "-" %></p>
        <hr>
        <h4>Share This Article</h4>
        <ul class="list-unstyled text-left d-flex">
          <li class="social-facebook mr-2">
            <a href="#"  class="fb-share" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=www.phoenix.co.id/<%= @article.slug %>','facebook-share-dialog','width=626,height=436');return false;">
              <img src="https://img.icons8.com/material-sharp/32/000000/facebook.png">
            </a>
          </li>
          <li class="social-twitter mr-2">
            <a target="_blank" href="https://twitter.com/intent/tweet?text=<%= @article.title %> , read more at: http://www.phoenix.co.id/<%= @article.slug %>">
              <img src="https://img.icons8.com/ios-glyphs/32/000000/twitter.png">
            </a>
          </li>
          <li class="social-wa mr-2">
            <a target="_blank" href="https://wa.me/?text=<%= u "#{@article.title} - http://nowjakarta.co.id/#{@article.slug}" %>">
              <img src="https://img.icons8.com/material/32/000000/whatsapp.png">
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-9">
        <div class="article">
          <%= @article.content.html_safe %>
        </div>
      </div>
    </div>
  </div>
</section>
