<section class="mt-5">
  <div class="container">
    <% @articles.each_with_index do |x, i| %>
      <% if i == 0 %>
      <div class="row">
        <div class="col-md-7">
          <div class="card border-0 mb-5">
            <img src="<%= x.image %>" alt="<%= x.title%>" class="w-100">
          </div>
        </div>
        <div class="col-md-5">
          <div class="card-body">
            <small class="text-danger"><%= x.publish.strftime("%e %B %Y") %></small>
            <h2><%= x.title%></h2>
            <p>
              <%= x.meta_description%>
            </p>
            <a href="<%= article_path(x.id) %>" class="btn btn-danger">
              Read more
            </a>
          </div>
        </div>

      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row justify-content-between">
      <div class="col-md-7 mb-3">
        <% else %>
        <div class="card border-0 mb-5">
          <img src="<%= x.image %>" alt="<%= x.title%>" class="w-100">
          <div class="card-body">
            <small class="text-danger"><%= x.publish.strftime("%e %B %Y") %></small>
            <h2><%= x.title%></h2>
            <p>
              <%= x.meta_description%>
            </p>
            <a href="<%= article_path(x.id) %>" class="btn btn-danger">
              Read more
            </a>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
      <div class="col-md-3">
        <div class="mb-5" style="top:100px;">
          <h3>Category</h3>
          <ul style="list-style: decimal-leading-zero;">
            <% Author.where.not(id: @author.id).each do |x| %>
            <li><a href="<%= author_path(x.slug) %>"><%= x.name %></a></li>
            <% end %>
          </ul>
        </div>
        <div class="mb-5">
          <h3>NOW! Jakarta Latest Issue</h3>
          <img src="https://nowjakarta.co.id/uploads/category/cover/25/cover.jpg" alt="now jakarta" class="w-100 mb-3 shadow border-1">
          <a href="	http://emag.phoenix.co.id/redirections/now-jakarta-showcase" class="btn btn-danger w-100" target="_blank">
            Read NOW!
          </a>
        </div>
        <div class="mb-5">
          <h3>NOW! Bali Latest Issue</h3>
          <img src="https://nowbali.co.id/img/NB-COVER.jpg" alt="now jakarta" class="w-100 mb-3 shadow border-1">
          <a href="http://emag.phoenix.co.id/redirections/now-bali-business-card" class="btn btn-danger w-100" target="_blank">
            Read NOW!
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
