<section id="intro" class="p-0">
  <div class="position-relative" style="background:rgba(0, 0, 0, 0) url('<%= @corporate.image_cover %>') no-repeat fixed top center / cover;height:75vh;">
    <div class="d-absoulte h-100 w-100  d-flex align-items-center" style="background-color:rgba(6, 7, 8, 0.3  )!important" >
      <div class="container ">
        <div class="caption  text-white w-75 ">
          <h1 class="text-white"><%= @corporate.title %></h1>
        </div>
      </div>
    </div>
  </div>
</section>

<%= @corporate.content.html_safe %>
