<section id="intro" class="p-0">
  <div class="position-relative bg-intro" style="background-image:url('<%= Page.corporate.image %>');">
    <div class="d-absoulte h-100 w-100  d-flex align-items-center" style="background-color:rgba(6, 7, 8, 0.4  )!important" >
      <div class="container ">
        <div class="caption  text-white w-75 ">
          <h1 class="text-white">Corporate Recognition</h1>
          <h3 class="mb-5">We represent Most Valued Business (MVB) Indonesia and organise Say Yes to Less programme.</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-md-9">
        <h2>Supporting Sustainability</h2>
        <p>Since 2016, Phoenix Communications has proudly represented the Most Valued Business (MVB) Indonesia, an organisation dedicated to helping companies, large or small, national or international, to become more sustainable, across seven different critical value areas.</p>
         <p>Staring from 2019, we are running the Say Yes To Less programme, inviting restaurants, bars and cafes to commit to reduce their impact on the environment by segregating and reducing their waste and using eco-friendly appliances.</p>
      </div>
    </div>
  </div>
</section>


  <section class="pt-0">
    <div class="container">
      <h5 class="mb-3"></h5>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <h3 class="title mb-3">Most Valued Business Indonesia</h3>
          <img src="<%= Corporate.mvb.image %>" alt="Most Valued Business Indonesia" class="w-100 mb-10 rounded">
          <div  class="item-descy my-3">
            <p>
              <strong>Most Valued Business (MVB)</strong> is an organisation dedicated to helping organisations, large or small, national or international, to become more sustainable, across seven critical value areas, they are : sustainability, best possible business practices, ethical employment, customer service and respect, environmental friendliness, safety and security and corporate values.
            </p>
          </div>
          <a href="<%= corporate_path(Corporate.mvb.slug) %>"class="btn btn-danger mb-4 mb-md-0">Read more</a>
        </div>
        <div class="col-md-6">
          <h3 class="title mb-3">Say Yes To Less</h3>
          <img src="<%= asset_url('sytl-main.jpg') %>" alt="NOW! BALI" class="w-100 mb-10 rounded">
          <div  class="item-descy my-3">
            <p>
                <strong>SAY YES TO LESS</strong> is a program for restaurants, bars and cafes who are willing to commit to reduce their impact on the environment by segregating and reducing their waste and using eco-friendly appliances. <strong>SAY YES TO LESS</strong> is about bringing together a coalition of NOW! Jakarta, industry partners and waste management experts to create and implement a campaign that challenges the industry, particularly the hospitality sector, to reduce food waste to landfill.
              </p>
          </div>
          <a href="https://sytl.nowjakarta.co.id/index.html" class="btn btn-danger">Visit Website</a>
        </div>
      </div>
    </div>
  </section>
