<section id="intro" class="p-0">
  <div class="position-relative bg-intro" style="background-image:url('<%= Page.creative.image %>');">
    <div class="d-absoulte h-100 w-100  d-flex align-items-center" style="background-color:rgba(6, 7, 8, 0.4  )!important" >
      <div class="container ">
        <div class="caption  text-white w-75 ">
          <h1 class="text-white">Creative Services</h1>
          <h3 class="mb-5">We help businesses to get creative and deliver high quality products to them</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container text-center">
    <h2>Creative Services</h2>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <p class="" style="font-size:18px;font-weight:300;">Creative and Communication Services are tools that many businesses need, but come in all shapes and sizes. Here at Phoenix Communications we offer an array of these services to meet any of your needs, from creative writing to advertising designs, brand concepts to public relations, marketing tools to in-house publishing and even market research. Our focused, efficient team will work closely with you to identify your needs and execute your vision.</p>
      </div>
    </div>
  </div>
</section>


<section class="bg-gray">
  <div class="container">
    <div class="row">
      <% Service.all.each do |x| %>
      <div class="col-md-4 mb-3">
        <a href="<%= service_path(x.slug) %>">
          <div class="card text-white rounded">
            <img class="card-img rounded" src="<%= x.image %>" alt="<%= x.title %>">
            <div class="card-img-overlay rounded text-center">
              <h5 class="card-title"><%= x. title %></h5>
            </div>
          </div>
        </a>
      </div>
      <% end %>
    </div>
  </div>
</section>
