<section id="intro" class="p-0">
  <div class="position-relative bg-intro" style="background-image:url('<%= Page.media.image %>');">
    <div class="d-absoulte h-100 w-100  d-flex align-items-center" style="background-color:rgba(6, 7, 8, 0.4  )!important" >
      <div class="container ">
        <div class="caption  text-white w-75 ">
          <h1 class="text-white">The NOW! Brands</h1>
          <h3 class="mb-5">NOW! Jakarta and NOW! Bali multimedia platforms are all about life. Life today. Life Now.</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-md-9">
        <h2>NOW! Brands</h2>
        <p class="text-center mt-4">
          ‘NOW!’ is all about life. Life today. Life now. Whether in Jakarta, Bali, places heaving with culture, lifestyle, growth, business, entertainment and more, our goal is to share the beating heart of each destination with our readers, whether through our magazine or online.
        </p>
      </div>
    </div>
  </div>
</section>


  <section class="pt-0">
    <div class="container">
      <h5 class="mb-3"></h5>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <a href="<%= medium_path(Medium.nj.slug) %>">
            <h3 class="title mb-3 text-dark">NOW! JAKARTA</h3>
            <img src="<%= Medium.nj.image %>" alt="NOW! JAKARTA" class="w-100 mb-10 rounded">
          </a>
          <div  class="item-descy my-3">
            <p>
              NOW! Jakarta is the international community’s guide to life in the bustling Indonesian capital. Both in print and online, the magazine captures culture, history, business, family life, dining and lifestyle as well as travel, with content aimed at high-level residents of the city
            </p>
          </div>
          <a href="<%= medium_path(Medium.nj.slug) %>"class="btn btn-danger mb-4 mb-md-0">Read more</a>
        </div>
        <div class="col-md-6">
          <a href="<%= medium_path(Medium.nb.slug) %>">
            <h3 class="title mb-3 text-dark">NOW! BALI</h3>
            <img src="<%= Medium.nb.image %>" alt="NOW! BALI" class="w-100 mb-10 rounded">
          </a>
          <div  class="item-descy my-3">
            <p>
              NOW! Bali is made for travellers and visitors to Indonesia’s island of the gods. Focusing on culture, travel and leisure, NOW! Bali shares only the best of what Bali has to offer. NOW! Bali prides itself in being one of the most editorially driven magazines of its kind in the market.
            </p>
          </div>
          <a href="<%= medium_path(Medium.nb.slug) %>"class="btn btn-danger">Read more</a>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-gray">
    <div class="w-sm-100 w-75 m-auto">
        <h2> NOW! Events and Platforms</h2>
      <div class="row ">
        <div class="col-md-3 mb-10">
          <a href="<%= medium_path(Medium.brbca_nj.slug) %>" class="text-dark">
            <img src="<%= Medium.brbca_nj.image %>" class="w-100  rounded mb-10" alt="">
            <h3 style="font-size:25px;" class="mt-3 sm-crd-hgt">NOW! Jakarta Best Restaurant Bar & Café Awards</h3>
          </a>
          <p class="item-descx">As part of our efforts to promote and reward those who are excelling in all things culinary, each year we facilitate and host the NOW! JAKARTA Best Restaurant, Bar and Cafe Awards (BRBCA). </p>
          <a href="<%= medium_path(Medium.brbca_nj.slug) %>" class="btn btn-danger mb-4 mb-md-0">Read more</a class="text-dark">
        </div>
        <div class="col-md-3 mb-10">
          <a href="<%= medium_path(Medium.brbca_nb.slug) %>" class="text-dark">
            <img src="<%= Medium.brbca_nb.image %>" class="w-100  rounded mb-10" alt="">
            <h3 style="font-size:25px;" class="mt-3 sm-crd-hgt">NOW! Bali Restaurant Bar & Café Awards</h3>
          </a>
          <p class="item-descx">The NOW! Bali Best Restaurant Bar and Café Awards is an annual campaign aimed to promote the many high quality food and beverage establishments Bali.</p>
          <a href="<%= medium_path(Medium.brbca_nb.slug) %>" class="btn btn-danger mb-4 mb-md-0">Read more</a class="text-dark">
        </div>
        <div class="col-md-3 mb-10">
          <a href="<%= medium_path(Medium.njsc.slug) %>" class="text-dark">
            <img src="<%= Medium.njsc.image %>" class="w-100  rounded mb-10" alt="">
            <h3 style="font-size:25px;" class="mt-3 sm-crd-hgt">NOW! Jakarta Schools Competition</h3>
          </a>
          <p class="item-descx"> In order to encourage creativity within the community, NOW! Jakarta engages with schools in a city-wide art, writing and poetry competition.</p>
          <a href="<%= medium_path(Medium.njsc.slug) %>" class="btn btn-danger mb-4 mb-md-0">Read more</a>
        </div>
        <div class="col-md-3 mb-10">
          <a href="<%= medium_path(Medium.nowstudy.slug) %>" class="text-dark">
            <img src="<%= Medium.nowstudy.image %>" class="w-100  rounded mb-10" alt="">
            <h3 style="font-size:25px;" class="mt-3 sm-crd-hgt">NOW! Study</h3>
          </a>
          <p class="item-descx">Finding and deciding on the right school for your children can be a daunting task for parents, especially if you happen to just arrive in the city. NOW! Jakarta created NOW! Study platform to help those in need.</p>
          <a href="<%= medium_path(Medium.nowstudy.slug) %>" class="btn btn-danger mb-4 mb-md-0">Read more</a>
        </div>
      </div>
    </div>
  </section>
