<section id="intro" class="p-0">
  <div class="position-relative bg-intro" style="background-image:url('<%= Page.publishing.image %>');">
    <div class="d-absoulte h-100 w-100  d-flex align-items-center" style="background-color:rgba(6, 7, 8, 0.4  )!important" >
      <div class="container ">
        <div class="caption  text-white w-75 ">
          <h1 class="text-white">We publish books</h1>
          <h3 class="mb-5">As a hub of cultural content, Phoenix Communications has published several books of the last decade.</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-gray">
  <div class="container">
    <h2 class="mb-5">Our Library</h2>
    <div class="row">
      <% Book.all.order(id: :asc).each do |x| %>
      <div class="col-md-4 mb-30">

        <% if x.description.blank? %>
        <div class="cover">
          <span class="cover-wrap">
            <img src="<%= x.cover %>" class="w-100">
          </span>
        </div>
          <h3 class="mt-3 item-descx"><%= x.title %></h3>
        <% else %>
        <a href="<%= book_path(x.slug) %>" class="text-dark" >
        <div class="cover">
          <span class="cover-wrap">
            <img src="<%= x.cover %>" class="w-100">
          </span>
        </div>
          <h3 class="mt-3 item-descx"><%= x.title %></h3>
        </a>
        <% end %>

        <p style="font-size:18px;"><%= x.author %></p>
        <p><%= x.meta_description %></p>
        <% unless x.description.blank? %>
        <a href="<%= book_path(x.slug) %>" class="btn btn-danger">Read more</a>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</section>
