
<section id="intro" class="p-0">
  <div class="position-relative" style="background:rgba(0, 0, 0, 0) url('<%= asset_url('7-critical-thumbail-long.jpg') %>') no-repeat fixed center center / cover;height:430px;">
    <div class="d-absoulte h-100 w-100  d-flex align-items-end" style="background-color:rgba(6, 7, 8, 0.0)!important" >
      <div class="container mb-5">
        <h1 class="text-white">Connect with Us</h1>
      </div>
    </div>
  </div>
</section>



<section class="content">
  <div class="container">
    <div class="row justify-content-between align-items-center">

      <div class="col-md-7">
        <div class="p-3">
          <div class="section-title">
            <h2> Phoenix Head Office</h2>
          </div>
          <p>
            Jl. Kemang Utara VII No.19C, Bangka, Kec. Mampang Prpt., Jakarta 12730 <br>
          </p>
          <div class="row">
            <div class="col-3">
              <b>Phone</b>
            </div>
            <div class="ml-1">
              :
            </div>
            <div class="col text-left">
              +62 21 7199312
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <b>Marketing</b>
            </div>
            <div class="ml-1">
              :
            </div>
            <div class="col text-left">
              <a href="mailto:marcom@phoenix.co.id"><strong><u>marcom@phoenix.co.id</u></strong></a>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <b>Advertising</b>
            </div>
            <div class="ml-1">
              :
            </div>
            <div class="col text-left">
              <strong><a href="mailto:sales@phoenix.co.id"><u>sales@phoenix.co.id</u></a></strong>
            </div>
          </div>
          <div class="mt-3">
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.888645930026!2d106.8137108146384!3d-6.278367995455786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f18acf17d043%3A0xeebe5d7cc19439f4!2sPT.%20Phoenix%20Communications!5e0!3m2!1sen!2sid!4v1571027739918!5m2!1sen!2sid" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <p class="text-green">
          If you need more information please send your question by filling the form below :
        </p>

        <%= form_for @contact, :html => { :class => "form-horizontal contact" } do |f| %>
        <p>
          <span style="color:red;">*</span> Input Required
        </p>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="upper" for="fullname">Full Name <span style="color:red;">*</span></label>
              <div class="form-group">
                <%= f.text_field :fullname, :class => 'form-control' %>
                <%=f.error_span(:fullname) %>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="upper" for="email">Email <span style="color:red;">*</span></label>
              <%= f.email_field :email, :class => 'form-control' %>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label class="upper" for="subject">Subject <span style="color:red;">*</span></label>
              <%= f.select :subject, Contact::Subject.map {|s| [s ]},{:include_blank => '-Choose-'} , :class=>"form-control w-100 ", :placeholder=>"select", style: 'height:40px;', required: true%>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label class="upper" for="">Message/Question <span style="color:red;">*</span></label>
              <textarea class="form-control required" rows="5" name="contact[message]" id="contact_message" required=""></textarea>
            </div>
          </div>
        </div>
        <div class="mt-2">
          <input type="submit" value="Submit" class="btn btn-danger d-block">
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
