
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="bg-intro-big " style="background-image:url('<%= asset_url('slider-about.jpg') %>');">
        <div class="d-flex align-items-center justify-content-center h-100 w-100" style="background: rgba(58, 58, 58, 0.4);">
          <div class="caption text-left text-white w-sm-100 w-50 m-auto ">
            <h2>We are Phoenix Communications.</h2>
            <h3 class="mb-5">We take communication seriously to convey meaning, share ideas, feelings, beliefs, principles.</h3>
            <a href="/about-us" class="btn btn-dark dark-transparent">Read more about us</a>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="bg-intro-big " style="background-image:url('<%= asset_url('slider/P1.1 - Media - Slider.JPG') %>');">
        <div class="d-flex align-items-center justify-content-center h-100 w-100 m-auto " style="background: rgba(58, 58, 58, 0.4);">
          <div class="caption  text-white w-sm-100 w-50 m-auto ">
            <h2>We have the NOW! Brands.</h2>
            <h3 class="mb-5">NOW! Jakarta and NOW! Bali multimedia platforms are all about life. Life today. Life Now.</h3>
            <a href="/<%= Page.media.slug %>" class="btn btn-dark dark-transparent">Discover NOW!</a>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="bg-intro-big " style="background-image:url('<%= asset_url('slider/P1.2 - Publishing - Slider.JPG') %>');">
        <div class="d-flex align-items-center justify-content-center h-100 w-100 m-auto " style="background: rgba(58, 58, 58, 0.4);">
          <div class="caption  text-white w-sm-100 w-50 m-auto ">
            <h2>We publish books.</h2>
            <h3 class="mb-5">As a hub of cultural content, Phoenix Communications has published several books of the last decade.</h3>
            <a href="/<%= Page.publishing.slug %>" class="btn btn-dark dark-transparent">Visit our library</a>
          </div>
        </div>
      </div>
    </div>


    <div class="carousel-item">
      <div class="bg-intro-big " style="background-image:url('<%= asset_url('slider/P1.3 - CSD - Slider.jpeg') %>');">
        <div class="d-flex align-items-center justify-content-center h-100 w-100 m-auto " style="background: rgba(58, 58, 58, 0.4);">
          <div class="caption  text-white w-sm-100 w-50 m-auto ">
            <h2>We provide creative services.</h2>
            <h3 class="mb-5">We help businesses to get creative and deliver high quality products to them </h3>
            <a href="/<%= Page.creative.slug %>" class="btn btn-dark dark-transparent">Check our portfolio</a>
          </div>
        </div>

      </div>
    </div>
    <div class="carousel-item">
      <div class="bg-intro-big d-flex align-items-center justify-content-center" style="background-image:url('<%= asset_url('slider/P1.4 - MVB  Slider.jpeg') %>');">
        <div class="d-flex align-items-center justify-content-center h-100 w-100 m-auto " style="background: rgba(58, 58, 58, 0.4);">
          <div class="caption  text-white w-sm-100 w-50 m-auto ">
            <h2>We support sustainability.</h2>
            <h3 class="mb-5">We represent Most Valued Business (MVB) Indonesia and organise Say Yes to Less programme.</h3>
            <a href="/<%= Page.corporate.slug %>" class="btn btn-dark dark-transparent">Get involved</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<section class="mt-5" id="what-we-do">
  <div class="text-center mb-5">
    <h2>What We Do</h2>
  </div>
  <div class="w-75 w-sm-100 m-auto">
    <div class="row">
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card rounded-top shadow">
          <a href="<%= page_path(Page.media.slug) %>">
            <div class="rounded-top" style="background-image:url('<%= asset_url('P1.5 - NOW! Thumbnail.JPG') %>');background-size:cover;background-position:center center;height:300px;width:100%">
            </div>
          </a>
          <div class="card-body item-desc">
            <h3><a class="text-dark" href="<%= page_path(Page.media.slug) %>">Media</a></h3>
            <p>Our flagship brands have always been our 2 media powerhouses, NOW! Jakarta and NOW! Bali. From printed publication to online magazine, the NOW! Media brands have established themselves in two of Indonesia’s most important locales, sharing important content on culture, community and lifestyle.</p>
            <a href="<%= page_path(Page.media.slug) %>" class="btn btn-danger">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card rounded-top shadow">
          <a href="<%= page_path(Page.publishing.slug) %>">
            <div class="rounded-top" style="background-image:url('<%= asset_url('P1.6 - Publishing thumbail.JPG') %>');background-size:cover;background-position:center center;height:300px;width:100%">
            </div>
          </a>
          <div class="card-body item-desc">
            <h3><a class="text-dark" href="<%= page_path(Page.publishing.slug) %>">Publishing</a></h3>
            <p>
              As a hub of cultural content, Phoenix Communications has published several books of the last decade. Starting with publications recording Indonesia’s beautiful heritage, then moving to contemporary themes of business, our repertoire of books certainly peak the interest of local and international readers
            </p>
            <a href="<%= page_path(Page.publishing.slug) %>" class="btn btn-danger">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0 ">
        <div class="card rounded-top shadow">
          <a href="/<%= Page.corporate.slug %>">
            <div class="rounded-top" style="background-image:url('<%= asset_url('P1.7 - MVB - Thumbnail.JPG') %>');background-size:cover;background-position:center center;height:300px;width:100%">
            </div>
          </a>
          <div class="card-body item-desc">
            <h3><a class="text-dark" href="/<%= Page.corporate.slug %>">Corporate Recognition</a></h3>

            <p >
              Our industry-changing corporate recognition campaign, Most Valued Business (MVB), is bringing in a new dimension the way businesses are perceived in Indonesia. Putting sustainability and good business practices at the forefront, MVB is a driving force to a better corporate Indonesia.
            </p>
            <a href="/<%= Page.corporate.slug %>" class="btn btn-danger">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="csd">
  <div class="container m-auto">
    <div class=" row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2>Creative Services</h2>
        <p> On top of being content creators and communicators for our brands and businesses, we make our skills and abilities open to you too. Through our Creative Services, you too can make your business heard, known, understood and ultimately grow. </p>
      </div>
    </div>
    <div class="row align-items-center">
      <% Service.all.each do |x| %>
      <div class="col-md-4 mb-4">
        <a href="<%= service_path(x.slug) %>">
          <div class="card text-white rounded">
            <img class="card-img rounded" src="<%= x.image %>" alt="<%= x.title %>">
            <div class="card-img-overlay rounded text-center">
              <h5 class="card-title"><%= x. title %></h5>
            </div>
          </div>
        </a>
      </div>
      <% end %>
    </div>
  </div>
</section>

<section id="news" class="">
  <div class="container">
    <div class="mb-5 text-center">
      <h2>Phoenix News</h2>
    </div>
    <div class="row">
      <% @articles.each do |x| %>
      <div class="col-md-6">
        <div class="card border-0 mb-5">
          <a href="<%= article_path(x.slug) %>">
            <img src="<%= x.image %>" alt="<%= x.title %>" class="w-100">
          </a>
          <div class="card-body">
            <small class="text-danger"><%= x.publish.strftime("%e %B %Y") %></small>
            <h2 style="font-size: 25px;" ><a href="<%= article_path(x.slug) %>" class="text-dark"><%= x.title %></a> </h2>
            <p>
              <%= x.meta_description %>
            </p>
            <div class="text-center">
              <a href="<%= article_path(x.slug) %>" class="btn btn-danger">
                Read more
              </a>
            </div>
          </div>
        </div>
      </div>
      <% end %>

    </div>
    <div class="mt-3 text-center">
      <a href="<%= ph_news_path %>" class="btn btn-danger">
        Read more articles
      </a>
    </div>
  </div>
</section>

<section id="client" class="">
  <div class="container">
    <div class="mb-4 text-center">
      <h2> Our Previous Clients </h2>
    </div>
    <div class="owl-carousel client-slide">
      <div class="item"><img class="p-md-4" src="<%= asset_url('client/british-school-jakarta.png') %>" alt="British School Jakarta" class="w-100">    </div>
      <div class="item"><img class="p-md-4" src="<%= asset_url('client/british-women-association.png') %>" alt="British Woman association" class="w-100">    </div>
      <div class="item"><img class="p-md-4" src="<%= asset_url('client/emc-indonesia.png') %>" alt="EMC Indonesia" class="w-100">    </div>
      <div class="item"><img class="p-md-4" src="<%= asset_url('client/hero.png') %>" alt="HERO Group" class="w-100">    </div>
      <div class="item"><img class="p-md-4" src="<%= asset_url('client/jakarta-auqrium.png') %>" alt="jakarta Aquarium" class="w-100">    </div>
      <div class="item"><img class="p-md-4" src="<%= asset_url('client/shangri-la-jakarta.png') %>" alt="Shangri-la Jakarta" class="w-100">    </div>
      <div class="item"><img class="p-md-4" src="<%= asset_url('client/st-regis.png') %>" alt="Saint Regis" class="w-100">    </div>
      <div class="item"><img class="p-md-4" src="<%= asset_url('client/UBUD-food-festival.png') %>" alt="Ubud Food Festival" class="w-100">    </div>
      <div class="item"><img class="p-md-4" src="<%= asset_url('client/UBUD-writer-and-readers-festival.png') %>" alt="Ubud Writer and Readers Festival" class="w-100">    </div>
    </div>
  </div>
</section>
