<% if @page.slug == Page.media.slug %>
<%= render :partial => 'media' %>
<% elsif @page.slug == Page.publishing.slug %>
<%= render :partial => 'publishing' %>
<% elsif @page.slug == Page.creative.slug %>
<%= render :partial => 'creative' %>
<% elsif @page.slug == Page.corporate.slug %>
<%= render :partial => 'corporate' %>
<% else %>
<section id="intro" class="p-0">
  <div class="position-relative bg-intro" style="background-image:url('<%= @page.image %>');">
    <div class="d-absoulte h-100 w-100  d-flex align-items-center" style="background-color:rgba(6, 7, 8, 0.4  )!important" >
      <div class="container ">
        <div class="caption  text-white w-75 ">
          <h1 class="text-white"><%= @page.title %></h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <%= @page.content.html_safe %>
  </div>
</section>
<% end %>
