<%= form_for @contact, :html => { :class => "form-horizontal contact" } do |f| %>

<% if @contact.errors.any? %>
<div id="error_expl" class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title"><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h3>
  </div>
  <div class="panel-body">
    <ul>
      <% @contact.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<div class="form-group">
  <%= f.label :fullname, :class => 'control-label' %>
  <%= f.text_field :fullname, :class => 'form-control' %>
  <%=f.error_span(:fullname) %>
</div>
<div class="form-group">
  <%= f.label :phonenumber, :class => 'control-label' %>
  <%= f.text_field :phonenumber, :class => 'form-control' %>
  <%=f.error_span(:phonenumber) %>
</div>
<div class="form-group">
  <%= f.label :email, :class => 'control-label' %>
  <%= f.text_field :email, :class => 'form-control' %>
  <%=f.error_span(:email) %>
</div>
<div class="form-group">
  <%= f.label :subject, :class => 'control-label' %>
  <%= f.text_field :subject, :class => 'form-control' %>
  <%=f.error_span(:subject) %>
</div>
<div class="form-group">
  <%= f.label :message, :class => 'control-label' %>
  <%= f.text_field :message, :class => 'form-control' %>
  <%=f.error_span(:message) %>
</div>

<div class="form-group">
  <div class="col-lg-offset-2 col-lg-10">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
    contacts_path, :class => 'btn btn-default' %>
  </div>
</div>

<% end %>
