<div class="col-md-4 nested-fields">
  <div class="form-group">
    <%= f.label :image,"Slider Image", :class => 'control-label' %>
    <% if  f.object.image.nil? or f.object.image.blank? %>
    <%= f.file_field :image, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'500K', 'data-allowed-file-extensions'=>'jpg jpeg png' %>
    <% else %>
    <%= f.file_field :image, :class => 'dropify','data-height'=>"250",'data-max-file-size'=>'500K', 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-default-file' => f.object.image.url %>

    <% end %>
    <%=f.error_span(:image) %>
    <div class="form-group mt-3">
      <%= f.text_field :caption, :class => 'form-control', placeholder:"caption" %>
      <%=f.error_span(:caption) %>
    </div>
    <div class="mt-3 text-center">
      <%= link_to_remove_association "remove image", f, class:"btn btn-danger" %>
    </div>
  </div>
</div>


<script type="text/javascript">
  $('.dropify').dropify();
</script>
