<%= form_for @book, :html => { :class => "form-horizontal book" } do |f| %>

<% if @book.errors.any? %>
<div id="error_expl" class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title"><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h3>
  </div>
  <div class="panel-body">
    <ul>
      <% @book.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>


<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <%= f.label :title, :class => 'control-label' %>
          <%= f.text_field :title, :class => 'form-control' %>
          <%=f.error_span(:title) %>
        </div>
        <div class="form-group">
          <%= f.label :sub_title, :class => 'control-label' %>
          <%= f.text_field :sub_title, :class => 'form-control' %>
          <%=f.error_span(:sub_title) %>
        </div>
        <div class="form-group">
          <%= f.label :meta_description, :class => 'control-label' %>
          <%= f.text_area :meta_description, :class => 'form-control', rows: 4 %>
          <%=f.error_span(:meta_description) %>
        </div>
        <div class="form-group">
          <%= f.label :author, :class => 'control-label' %>
          <%= f.text_field :author, :class => 'form-control' %>
          <%=f.error_span(:author) %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :cover, :class => 'control-label' %>
            <% if @book.cover.nil? || @book.cover.blank? %>
              <%= f.file_field :cover, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250' %>
            <% else %>
              <%= f.file_field :cover, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250', 'data-default-file' => @book.cover.url %>
            <% end %>
            <%=f.error_span(:cover) %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :main_image, :class => 'control-label' %>
            <% if @book.main_image.nil? || @book.main_image.blank? %>
              <%= f.file_field :main_image, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250' %>
            <% else %>
              <%= f.file_field :main_image, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250', 'data-default-file' => @book.main_image.url %>
            <% end %>
            <%=f.error_span(:main_image) %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row" id="image_sliders">
        <%= f.fields_for :book_previews do |book_preview| %>
           <%= render 'book_preview_fields', f: book_preview %>
        <% end %>
        <div class="col-md-4">
           <%= link_to_add_association 'add image', f, :book_previews, class:"btn btn-primary" %>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="form-group">
      <%= f.label :description, :class => 'control-label' %>
      <%= f.cktext_area :description, :class => 'form-control',:ckeditor => {:removePlugins => 'forms'} %>
      <%=f.error_span(:description) %>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <%= f.label :price, :class => 'control-label' %>
          <%= f.text_field :price, :class => 'form-control' %>
          <%=f.error_span(:price) %>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <%= f.label :tokopedia, :class => 'control-label' %>
          <%= f.text_field :tokopedia, :class => 'form-control' %>
          <%=f.error_span(:tokopedia) %>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <%= f.label :bukalapak, :class => 'control-label' %>
          <%= f.text_field :bukalapak, :class => 'form-control' %>
          <%=f.error_span(:bukalapak) %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="form-group">
      <%= f.label :publisher_note, :class => 'control-label' %>
      <%= f.cktext_area :publisher_note, :class => 'form-control',:ckeditor => {:removePlugins => 'forms'} %>
      <%=f.error_span(:publisher_note) %>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="form-group">
      <%= f.label :book_info, :class => 'control-label' %>
      <%= f.cktext_area :book_info, :class => 'form-control',:ckeditor => {:removePlugins => 'forms'} %>
      <%=f.error_span(:book_info) %>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body text-center">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
    books_path, :class => 'btn btn-default' %>
  </div>
</div>


<% end %>
