<section id="intro" class="p-0">
  <div class="position-relative bg-intro" style="background:rgba(0, 0, 0, 0) url('<%= @book.main_image %>') no-repeat fixed  center / cover;">
    <div class="d-absoulte h-100 w-100  d-flex align-items-center" style="background-color:rgba(6, 7, 8, 0.6)!important" >
      <div class="container mb-5">
        <div class="row">
          <div class="col-md-6 text-white">
            <h1>
              <%= @book.title %>
            </h1>
            <h3><%= @book.sub_title %></h3>
            <h4 class="normal" style="font-weight:300;">
              By <%= @book.author %>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="book-description">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <%= @book.description.html_safe %>
      </div>
    </div>
  </div>
</section>

<section class="" style="background-color:#232020;">
  <div class="container my-5">
    <div class="row align-items-center">
      <div class="col-md-4 ">
        <div class="cover">
          <span class="cover-wrap">
            <img src="<%= @book.cover %>" class="w-100" alt="<%= @book.title %>">
          </span>
        </div>
      </div>
      <div class="col-md-6 text-white">
        <div class="text-left">
          <h2 class="text-white" style="font-size:20px;">Buy the Book</h2>
          <h4 class="text-white"> Price: <%= @book.price %> </h4>
          <p class="text-white">
            free delivery in Jakarta & Bali <br>
            National & international delivery charges may apply
          </p>
          <div class="mt-4">
            <h2 class="text-white" style="font-size:20px;">Also available on:</h2>
            <a href="<%= @book.tokopedia %>" target="_blank"><img src="<%= asset_url('tokopedia.png') %>" alt="<%= @book.title %> at tokopedia"  style="width:150px;height:auto"> </a>
            <!-- <a href="#"><img src="bukalapak.png" alt="" style="width:150px;height:auto"></a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= @book.publisher_note.html_safe  %>


<section>
  <div class="container">
    <hr>
      <h4 class="mb-4">Preview</h4>
    <div id="bookpreview" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner">

        <% @book.book_previews.each_with_index do |x,i| %>
          <div class="carousel-item <% if i == 0 %> active <% end %>">
            <img class="d-block w-100" src="<%= x.image %>" alt="preview <%= @book.title %>">
          </div>

        <% end %>

      </div>
      <a class="carousel-control-prev " href="#bookpreview" role="button" data-slide="prev">
        <div class="rounded-circle bg-dark d-flex align-items-center justify-content-center" style="height:50px;width:50px;">
          <span class="carousel-control-prev-icon " aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </div>
      </a>
      <a class="carousel-control-next" href="#bookpreview" role="button" data-slide="next">
        <div class="rounded-circle bg-dark d-flex align-items-center justify-content-center" style="height:50px;width:50px;">
          <span class="carousel-control-next-icon " aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </div>
      </a>

      <ol class="carousel-indicators mt-4" style="position:static">
          <% @book.book_previews.each_with_index do |x,i| %>
        <li  style="position:static;width:auto;height:auto;text-indent:0;background:none;border-radius:0;" data-target="#bookpreview" data-slide-to="<%= i %>" class="active">
          <img src="<%= x.image %>" alt="preview <%= @book.title %>" class="w-100 p-2">
        </li>
          <% end %>

      </ol>
    </div>
  </div>
</section>

<section>
    <div class="container">
      <hr>
      <div class="row">
        <div class="col-md-4">
          <h5><strong>Book Details</strong></h5>
          <%= @book.book_info.html_safe %>
        </div>
        <div class="col-md-4">
          <h5><strong>Bulk Orders &amp; Consignment</strong></h5>
          <p>
            Indonesia’s Hidden Heritage is available for Bulk Orders and Consignment in bookstores, boutiques and gift shops.  <br>
            Contact us directly for special pricing and agreements:<br>
            E: <a href="mailto:marketing-admin@phoenix.co.id"><strong>marketing-admin@phoenix.co.id</strong></a>
            <br>
            T: +62 21 781 3212
          </p>
        </div>
      </div>
    </div>
  </section>
