<% if @medium.errors.any? %>
<div class="alert alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
  <h3 class="text-warning"><i class="fa fa-exclamation-triangle"></i> <%= pluralize(@user.errors.count, "error") %> </h3>
  <p>prohibited this user from being saved:</p>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<%= form_for @medium, :html => { :class => "form-horizontal medium" } do |f| %>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <%= f.label :title, :class => 'control-label' %>
              <%= f.text_field :title, :class => 'form-control', required: true %>
              <%=f.error_span(:title) %>
            </div>
          </div>
          <% unless @medium.new_record? %>
          <div class="col-md-12">
            <div class="form-group">
              <%= f.label :slug, :class => 'control-label' %>
              <%= f.text_field :slug, :class => 'form-control', required: true %>
              <%=f.error_span(:slug) %>
            </div>
          </div>
          <% end %>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <%= f.label :meta_description, :class => 'control-label' %>
              <%= f.text_area :meta_description, :class => 'form-control' %>
              <%=f.error_span(:meta_description) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :image_thumbail, :class => 'control-label' %>
            <% if @medium.image.nil? || @medium.image.blank? %>
              <%= f.file_field :image, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250' %>
            <% else %>
              <%= f.file_field :image, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250', 'data-default-file' => @medium.image.url %>
            <% end %>
            <%=f.error_span(:image) %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :image_cover, :class => 'control-label' %>
            <% if @medium.image.nil? || @medium.image.blank? %>
              <%= f.file_field :image_cover, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250' %>
            <% else %>
              <%= f.file_field :image_cover, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '250', 'data-default-file' => @medium.image_cover.url %>
            <% end %>
            <%=f.error_span(:image_cover) %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <%= f.cktext_area :content, :class => 'form-control',:ckeditor => {:removePlugins => 'forms,save',:removeButtons => 'Flash,About' ,:startupMode => 'source'} %>
              <%=f.error_span(:content) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="form-group">
      <%= f.submit nil, :class => 'btn btn-success' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),media_path, :class => 'btn btn-light' %>
    </div>
  </div>
</div>
<% end %>
