
<% if @medium.slug == "now-jakarta" %>
<section id="intro" class="p-0">
  <div class="position-relative" style="background:rgba(0, 0, 0, 0) url('<%= @medium.image_cover %>') no-repeat fixed top center / cover;height:75vh;">
    <div class="d-absoulte h-100 w-100  d-flex align-items-center" style="background-color:rgba(6, 7, 8, 0.0)!important" >
      <div class="container mb-5">
        <div class="row">
          <div class="col-6 col-md-2">
            <img src="/uploads/ckeditor/pictures/48/content_NJ_Logo_White.png" alt="" class="w-100">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% elsif  @medium.slug == "now-bali" %>
<section id="intro" class="p-0">
  <div class="position-relative" style="background:rgba(0, 0, 0, 0) url('<%= @medium.image_cover %>') no-repeat fixed top center / cover;height:75vh;">
    <div class="d-absoulte h-100 w-100  d-flex align-items-center" style="background-color:rgba(6, 7, 8, 0.0)!important" >
      <div class="container mb-5">
        <div class="row">
          <div class="col-6 col-md-2">
            <img src="/uploads/ckeditor/pictures/47/content_NB_Logo_WHITE.png" alt="" class="w-100">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% else %>
<section id="intro" class="p-0">
  <div class="position-relative" style="background:rgba(0, 0, 0, 0) url('<%= @medium.image_cover %>') no-repeat fixed top center / cover;height:75vh;">
    <div class="d-absoulte h-100 w-100  d-flex align-items-center" style="background-color:rgba(6, 7, 8, 0.3  )!important" >
      <div class="container ">
        <div class="caption  text-white w-75 ">
          <h1 class="text-white"><%= @medium.title %></h1>
        </div>
      </div>
    </div>
  </div>
</section>
<% end %>



<%= @medium.content.html_safe %>
