<%= form_with(model: book_preview, local: true) do |form| %>
  <% if book_preview.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book_preview.errors.count, "error") %> prohibited this book_preview from being saved:</h2>

      <ul>
      <% book_preview.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>

  <div class="field">
    <%= form.label :caption %>
    <%= form.text_field :caption %>
  </div>

  <div class="field">
    <%= form.label :book_id %>
    <%= form.text_field :book_id %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
