<p id="notice"><%= notice %></p>

<h1>Book Previews</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Caption</th>
      <th>Book</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book_previews.each do |book_preview| %>
      <tr>
        <td><%= book_preview.image %></td>
        <td><%= book_preview.caption %></td>
        <td><%= book_preview.book %></td>
        <td><%= book_preview.category %></td>
        <td><%= link_to 'Show', book_preview %></td>
        <td><%= link_to 'Edit', edit_book_preview_path(book_preview) %></td>
        <td><%= link_to 'Destroy', book_preview, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book Preview', new_book_preview_path %>
