<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @book_preview.image %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @book_preview.caption %>
</p>

<p>
  <strong>Book:</strong>
  <%= @book_preview.book %>
</p>

<p>
  <strong>Category:</strong>
  <%= @book_preview.category %>
</p>

<%= link_to 'Edit', edit_book_preview_path(@book_preview) %> |
<%= link_to 'Back', book_previews_path %>
