<%= form_for @publish, :html => { :class => "form-horizontal publish" } do |f| %>

<% if @publish.errors.any? %>
<div id="error_expl" class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title"><%= pluralize(@publish.errors.count, "error") %> prohibited this publish from being saved:</h3>
  </div>
  <div class="panel-body">
    <ul>
      <% @publish.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<div class="card">
  <div class="card-body">
    <div class="form-group">
      <%= f.label :title, :class => 'control-label' %>
      <%= f.text_field :title, :class => 'form-control' %>
      <%=f.error_span(:title) %>
    </div>
    <div class="form-group">
      <%= f.label :meta_description, :class => 'control-label' %>
      <%= f.text_area :meta_description, :class => 'form-control' %>
      <%=f.error_span(:meta_description) %>
    </div>
    <div class="form-group">
      <%= f.label :writer, :class => 'control-label' %>
      <%= f.text_field :writer, :class => 'form-control' %>
      <%=f.error_span(:writer) %>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <%= f.label :cover, :class => 'control-label' %>
        <% if @publish.cover.nil? || @publish.cover.blank? %>
        <%= f.file_field :cover, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '260' %>
        <% else %>
        <%= f.file_field :cover, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '260', 'data-default-file' => @publish.cover.url %>
        <% end %>
        <%=f.error_span(:cover) %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <%= f.label :image_intro, :class => 'control-label' %>
        <% if @publish.image_intro.nil? || @publish.image_intro.blank? %>
        <%= f.file_field :image_intro, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '260' %>
        <% else %>
        <%= f.file_field :image_intro, class: "dropify", 'data-allowed-file-extensions'=>'jpg jpeg png', 'data-max-file-size'=>'1M', 'data-show-remove'=>'false', 'data-height' => '260', 'data-default-file' => @publish.image_intro.url %>
        <% end %>
        <%=f.error_span(:image_intro) %>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="form-group">
      <%= f.label :content, :class => 'control-label' %>
       <%= f.cktext_area :content, :class => 'form-control',:ckeditor => {:removePlugins => 'forms'} %>
      <%=f.error_span(:content) %>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body text-center">
    <div class="form-group mb-0">

        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        publishes_path, :class => 'btn btn-default' %>

    </div>
  </div>
</div>


<% end %>
