<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "CMS Admin" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "admin", :media => "all" %>
    <%= javascript_include_tag "admin" %>
  </head>
  <body>
    <div class="preloader">
      <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
      </div>
    </div>
    <div id="main-wrapper">
      <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
          <div class="navbar-header">
            <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
              <i class="ti-menu ti-close"></i>
            </a>
            <div class="navbar-brand">
              <a href="<%= root_path %>" class="logo">
                <!-- Logo text -->
                <span class="logo-text">
                  <!-- dark Logo text -->
                  <img src="<%= asset_url('logo-p.png') %>" alt="homepage" class="dark-logo" style="height:3rem" />
                  <!-- Light Logo text -->
                  <img src="<%= asset_url('logo-p.png') %>" class="light-logo" alt="homepage" style="height:3rem" />
                </span>
              </a>
            </div>
            <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="ti-more"></i>
            </a>
          </div>
          <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="navbar-nav float-left mr-auto">
            </ul>
            <ul class="navbar-nav float-right">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black;">
                  <% unless current_user.avatar.nil? || current_user.avatar.blank? %>
                    <img src="<%= current_user.avatar.url rescue '' %>" alt="" class="rounded-circle" width="40">
                  <% else %>
                    <%= image_tag("pikachu.png", :alt => "rss feed", class: '', width: '40') %>
                  <% end %>
                  <span class="m-l-5 font-medium d-none d-sm-inline-block"><%= current_user.username %> <i class="fa fa-chevron-down"></i></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                  <span class="with-arrow">
                    <span class="bg-primary"></span>
                  </span>
                  <div class="d-flex no-block align-items-center p-3 bg-primary text-white m-b-10">
                    <div class="">
                      <% unless current_user.avatar.nil? || current_user.avatar.blank? %>
                        <img src="<%= current_user.avatar.url %>" alt="" class="rounded-circle" width="60">
                        <% else %>
                          <img src="<%= asset_url('pikachu.png') %>" alt="" class="rounded-circle" width="60">
                      <% end %>
                    </div>
                    <div class="ml-3">
                      <h4 class="mb-0"><%= current_user.fullname rescue '-' %></h4>
                      <p class="mb-0"><%= current_user.email %></p>
                    </div>
                  </div>
                  <a class="dropdown-item" href="<%= user_path(current_user.id) %>">
                    <i class="fa fa-user mr-3 ml-3"></i> My Profile</a>
                  <div class="dropdown-cog"></div>
                  <a class="dropdown-item" href="<%= edit_user_path(current_user.id) %>">
                    <i class="fa fa-cog mr-3 ml-3"></i> Account Setting</a>
                  <div class="dropdown-divider"></div>
                  <%= link_to destroy_user_session_path,:class => 'dropdown-item', :method => :delete do %>
                    <i class="fa fa-power-off mr-3 ml-3"></i> Logout</a>
                  <% end %>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <aside class="left-sidebar">
        <div class="scroll-sidebar">
          <nav class="sidebar-nav">
            <ul id="sidebarnav">
              <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark" href="<%= app_path %>"><i class="fa fa-dashboard"></i><span class="hide-menu">Dashboard </span></a>
              </li>
              <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark" href="<%= list_book_path %>"><i class="fa fa-dashboard"></i><span class="hide-menu">Dashboard </span></a>
              </li>
              <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark" href="<%= list_book_path %>"><i class="fa fa-dashboard"></i><span class="hide-menu">Publish </span></a>
              </li>
              <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark" href="<%= services_path %>"><i class="fa fa-dashboard"></i><span class="hide-menu">Service </span></a>
              </li>
              <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark" href="<%= pages_path %>"><i class="fa fa-file"></i><span class="hide-menu">Page </span></a>
              </li>
              <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark" href="<%= users_path %>"><i class="fa fa-user"></i><span class="hide-menu">User </span></a>
              </li>
              <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark" href="<%= edit_setup_path(1) %>"><i class="fa fa-cog"></i><span class="hide-menu">Setup </span></a>
              </li>
            </ul>
          </nav>
        </div>
      </aside>
      <div class="page-wrapper">
        <%= render 'shared/message' %>
        <%= yield %>
      </div>
      <footer class="footer text-center">
        All Rights Reserved by PT.Phoenix Communications
      </footer>
    </div>
  </body>
</html>
