<!DOCTYPE html>
<html lang="en">
<head>
  <%= display_meta_tags %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#000">
  <link rel="apple-touch-icon" sizes="57x57" href="<%= asset_url('apple-icon-57x57.png') %>">
  <link rel="apple-touch-icon" sizes="60x60" href="<%= asset_url('apple-icon-60x60.png') %>">
  <link rel="apple-touch-icon" sizes="72x72" href="<%= asset_url('apple-icon-72x72.png') %>">
  <link rel="apple-touch-icon" sizes="76x76" href="<%= asset_url('apple-icon-76x76.png') %>">
  <link rel="apple-touch-icon" sizes="114x114" href="<%= asset_url('apple-icon-114x114.png') %>">
  <link rel="apple-touch-icon" sizes="120x120" href="<%= asset_url('apple-icon-120x120.png') %>">
  <link rel="apple-touch-icon" sizes="144x144" href="<%= asset_url('apple-icon-144x144.png') %>">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= asset_url('apple-icon-152x152.png') %>">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_url('apple-icon-180x180.png') %>">
  <link rel="icon" type="image/png" sizes="192x192"  href="<%= asset_url('android-icon-192x192.png') %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_url('favicon-32x32.png') %>">
  <link rel="icon" type="image/png" sizes="96x96" href="<%= asset_url('favicon-96x96.png') %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_url('favicon-16x16.png') %>">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!-- css -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" integrity="sha256-c+C87jupO1otD1I5uyxV68WmSLCqtIoNlcHLXtzLCT0=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/css/lightbox.min.css" integrity="sha256-tBxlolRHP9uMsEFKVk+hk//ekOlXOixLKvye5W2WR5c=" crossorigin="anonymous" />
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Heebo:100,300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cormorant:400,700" rel="stylesheet">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151713793-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-151713793-1');
  </script>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "WebSite",
      "name": "Phoenix Communications",
      "url": "https://www.phoenix.co.id/",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "https://www.phoenix.co.id/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
  </script>
  <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Corporation",
  "name": "Phoenix Communications",
  "alternateName": "Phoenix Communications",
  "url": "https://www.phoenix.co.id/",
  "logo": "https://www.phoenix.co.id/assets/logo-p.png",
  "contactPoint": [{
    "@type": "ContactPoint",
    "telephone": "+62 217813212Ext. 103",
    "contactType": "sales",
    "areaServed": "ID",
    "availableLanguage": ["en","Indonesian"]
  },{
    "@type": "ContactPoint",
    "telephone": "+62217813212",
    "contactType": "customer service",
    "areaServed": "ID",
    "availableLanguage": ["en","Indonesian"]
  }],
  "sameAs": [
    "https://www.facebook.com/PhoenixIDN",
    "https://www.linkedin.com/company/pt-phoenix-communications"
  ]
}
</script>
<% if @article.present? %>
<script type="application/ld+json">
{
"@context": "https://schema.org",
"@type": "NewsArticle",
"mainEntityOfPage": {
  "@type": "WebPage",
  "@id": "https://www.phoenix.co.id/phoenix-news/<%= @article.slug %>"
},
"headline": "<%= @article.title %>",
"description": "<%= @article.meta_description %>",
"image": "https://www.phoenix.co.id<%= @article.image %>",
"author": {
  "@type": "Organization",
  "name": "<%= @article.author.name %>"
},
"publisher": {
  "@type": "Organization",
  "name": "Phoenix Communication",
  "logo": {
    "@type": "ImageObject",
    "url": "https://www.phoenix.co.id/assets/logo-p.png",
    "width": 300,
    "height": 60
  }
},
"datePublished": "<%= @article.publish %>",
"dateModified": "<%= @article.updated_at %>"
}
</script>
<% end %>
  <% if @book.present? %>
      <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Product",
      "name": "<%= @book.title %>",
      "image": "https://www.phoenix.co.id/<%= @book.cover %>",
      "description": "@book.meta_description",
      "brand": "Phoenix Publication",
      "offers": {
        "@type": "Offer",
        "url": "https://www.phoenix.co.id/publishing/<%= @book.slug %>",
        "priceCurrency": "IDR",
        "price": "<%= @book.price %>"
      }
    }
    </script>
  <% end %>


</head>

<body >
  <div class="top-bar bg-light d-none d-md-block">
    <div class="container">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="/about-us">ABOUT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/phoenix-news">NEWS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= create_message_path %>">CONNECT WITH US</a>
        </li>
      </ul>
    </div>
  </div>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light shadow">
    <div class="container justify-content-center">
      <a class="navbar-brand" href="<%= root_path %>">
        <img src="<%= asset_url('logo-p.png') %>" alt="phoenix communications">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link" href="/<%= Page.media.slug %>">MEDIA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/<%= Page.publishing.slug %>">PUBLISHING </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/<%= Page.creative.slug %>">CREATIVE SERVICES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/<%= Page.corporate.slug %>">CORPORATE RECOGNITION</a>
          </li>
        </ul>
        <ul class="nav d-none d-md-flex">
          <li class="nav-item">
            <a class="nav-link " href="https://www.linkedin.com/company/pt-phoenix-communications"><i class="fa fa-linkedin  fa-lg" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.facebook.com/PhoenixIDN"><i class="fa fa-facebook-official  fa-lg" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <%= yield %>
  <section id="footer" class="pb-0">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Phoenix Head Office</h5>
          <p>Jl. Kemang Utara VII No.19C,
            <br>Bangka, Kec. Mampang Prpt., Jakarta 12730
            <br>Phone: +62 21 7199312
          </p>
        </div>
        <div class="col-md-4">
          <h5>Phoenix Bali Branch</h5>
          <p>
            Jalan Pengubengan Kauh No. 99,<br>
            Kerobokan Kelod, Kuta Utara, Bali 80361
            <br>Phone: +62 811 380 850 / +62 811 399 0072
            <br>Fax: +62 361 823 6722
          </p>
        </div>
        <div class="col-md-2">
          <h5 style="opacity:0;">Quick Link</h5>
          <ul class="list-unstyled">
            <li><a href="<%= root_path %>">Home</a></li>
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/phoenix-news">Phoenix News</a></li>
            <li><a href="<%= create_message_path %>">Connect with Us</a></li>
          </ul>
        </div>
        <div class="col-md-2">
          <h5 style="opacity:0;">Quick Link</h5>
          <ul class="list-unstyled">
            <li><a  href="/<%= Page.media.slug %>">Media</a></li>
            <li><a  href="/<%= Page.publishing.slug %>">Publishing<a></li>
              <li><a  href="/<%= Page.creative.slug %>">Creative Service</a></li>
              <li><a  href="/<%= Page.corporate.slug %>">Corporate Recognition</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="copyright">
        <p class="mb-0">Copyright Phoenix Digital Team @ 2020</p>
      </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js" integrity="sha256-+oeQRyZyY2StGafEsvKyDuEGNzJWAbWqiO2L/ctxF6c=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox.min.js" integrity="sha256-CtKylYan+AJuoH8jrMht1+1PMhMqrKnB8K5g012WN5I=" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application' %>
    <%- unless flash.empty? %>
    <script type="text/javascript">
      <%- flash.each do |f| %>
      <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'success') %>
      toastr['<%= type %>']('<%= f[1] %>');
      <%- end %>
      toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
      }
    </script>
    <%- end %>
  </body>
  </html>
